#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tilde_dollar: tilde_dollar {
            compatible = "zmk,behavior-mod-morph";
            label = "TILDE_DOLLAR";
            bindings = <&kp TILDE>, <&kp DLLR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        one_lpar: one_lpar {
            compatible = "zmk,behavior-mod-morph";
            label = "ONE_LPAR";
            bindings = <&kp KP_N1>, <&kp LPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        two_rpar: two_rpar {
            compatible = "zmk,behavior-mod-morph";
            label = "TWO_RPAR";
            bindings = <&kp KP_N2>, <&kp RPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        three_rbrac: three_rbrac {
            compatible = "zmk,behavior-mod-morph";
            label = "THREE_RBRAC";
            bindings = <&kp KP_N3>, <&kp RBRC>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        four-plus:

        four-plus {
            compatible = "zmk,behavior-mod-morph";
            label = "FOUR-PLUS";
            bindings = <&kp KP_N4>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        five_lbrac: five_lbrac {
            compatible = "zmk,behavior-mod-morph";
            label = "FIVE_LBRAC";
            bindings = <&kp KP_N5>, <&kp LBRC>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        six_rbrk: six_rbrk {
            compatible = "zmk,behavior-mod-morph";
            label = "SIX_RBRK";
            bindings = <&kp KP_N6>, <&kp RBKT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        seven_lbrk: seven_lbrk {
            compatible = "zmk,behavior-mod-morph";
            label = "SEVEN_LBRK";
            bindings = <&kp KP_N7>, <&kp LBKT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        eight_excl: eight_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "EIGHT_EXCL";
            bindings = <&kp KP_N8>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        nine_equal: nine_equal {
            compatible = "zmk,behavior-mod-morph";
            label = "NINE_EQUAL";
            bindings = <&kp KP_N9>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        zero_star: zero_star {
            compatible = "zmk,behavior-mod-morph";
            label = "ZERO_STAR";
            bindings = <&kp KP_N0>, <&kp ASTRK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        perc_amp: perc_amp {
            compatible = "zmk,behavior-mod-morph";
            label = "PERC_AMP";
            bindings = <&kp PRCNT>, <&kp AMPS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        grave_hash: grave_hash {
            compatible = "zmk,behavior-mod-morph";
            label = "GRAVE_HASH";
            bindings = <&kp GRAVE>, <&kp POUND>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        pipe_bslash: pipe_bslash {
            compatible = "zmk,behavior-mod-morph";
            label = "PIPE_BSLASH";
            bindings = <&kp PIPE>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        caret_at: caret_at {
            compatible = "zmk,behavior-mod-morph";
            label = "CARET_AT";
            bindings = <&kp CARET>, <&kp AT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        four_plus: four_plus {
            compatible = "zmk,behavior-mod-morph";
            label = "FOUR_PLUS";
            bindings = <&kp KP_N4>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        RProg_Dvorak {
            display-name = "Base";
            bindings = <
&perc_amp  &seven_lbrk    &five_lbrac  &three_rbrac  &one_lpar  &nine_equal  &tog 1                                                   &mo 3      &zero_star  &two_rpar  &four_plus  &six_rbrk  &eight_excl  &grave_hash
&kp TAB    &kp SEMI       &kp COMMA    &kp PERIOD    &kp P      &kp Y        &none                                                    &none      &kp F       &kp G      &kp C       &kp R      &kp L        &pipe_bslash
&kp ESC    &kp A          &kp O        &kp E         &kp U      &kp I        &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp D       &kp H      &kp T       &kp N      &kp S        &kp MINUS
&kp LSHFT  &kp APOS       &kp Q        &kp J         &kp K      &kp X                             &kp HOME      &kp PG_UP                        &kp B       &kp M      &kp W       &kp V      &kp Z        &kp RSHFT
&mo 2      &tilde_dollar  &kp CAPS     &kp LEFT      &kp RIGHT               &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE              &kp UP     &kp DOWN    &kp SLASH  &caret_at    &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        extra1 {
            display-name = "Red";
            status = "reserved";
        };

        extra2 {
            display-name = "Purple";
            status = "reserved";
        };

        extra3 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
