#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        dollar_tilde: dollar_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "DOLLAR_TILDE";
            bindings = <&kp DLLR>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lpar_one: lpar_one {
            compatible = "zmk,behavior-mod-morph";
            label = "LPAR_ONE";
            bindings = <&kp LPAR>, <&kp KP_N1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rpar_two: rpar_two {
            compatible = "zmk,behavior-mod-morph";
            label = "RPAR_TWO";
            bindings = <&kp RPAR>, <&kp KP_N2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rbac_three: rbac_three {
            compatible = "zmk,behavior-mod-morph";
            label = "RBAC_THREE";
            bindings = <&kp RBRC>, <&kp KP_N3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lbrac_five: lbrac_five {
            compatible = "zmk,behavior-mod-morph";
            label = "LBRAC_FIVE";
            bindings = <&kp LBRC>, <&kp KP_N5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rbrk_six: rbrk_six {
            compatible = "zmk,behavior-mod-morph";
            label = "RBRK_SIX";
            bindings = <&kp RBKT>, <&kp KP_N6>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lbrk_seven: lbrk_seven {
            compatible = "zmk,behavior-mod-morph";
            label = "LBRK_SEVEN";
            bindings = <&kp LBKT>, <&kp KP_N7>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        excl_eight: excl_eight {
            compatible = "zmk,behavior-mod-morph";
            label = "EXCL_EIGHT";
            bindings = <&kp EXCL>, <&kp KP_N8>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        equal_nine: equal_nine {
            compatible = "zmk,behavior-mod-morph";
            label = "EQUAL_NINE";
            bindings = <&kp EQUAL>, <&kp KP_N9>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        star_zero: star_zero {
            compatible = "zmk,behavior-mod-morph";
            label = "STAR_ZERO";
            bindings = <&kp STAR>, <&kp KP_N0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        amp_perc: amp_perc {
            compatible = "zmk,behavior-mod-morph";
            label = "AMP_PERC";
            bindings = <&kp AMPS>, <&kp PERCENT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hash_grave: hash_grave {
            compatible = "zmk,behavior-mod-morph";
            label = "HASH_GRAVE";
            bindings = <&kp HASH>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        caret_at: caret_at {
            compatible = "zmk,behavior-mod-morph";
            label = "CARET_AT";
            bindings = <&kp CARET>, <&kp AT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        plus_four: plus_four {
            compatible = "zmk,behavior-mod-morph";
            label = "PLUS_FOUR";
            bindings = <&kp PLUS>, <&kp KP_N4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fslash_pipe: fslash_pipe {
            compatible = "zmk,behavior-mod-morph";
            label = "FSLASH_PIPE";
            bindings = <&kp FSLH>, <&kp PIPE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        RProg_Dvorak {
            display-name = "Base";
            bindings = <
&amp_perc  &lbrk_seven    &lbrac_five  &rbac_three  &lpar_one  &equal_nine  &tog 1                                                   &mo 3      &star_zero  &rpar_two  &plus_four  &rbrk_six  &excl_eight  &hash_grave
&kp TAB    &kp SEMI       &kp COMMA    &kp PERIOD   &kp P      &kp Y        &tog 4                                                   &tog 6     &kp F       &kp G      &kp C       &kp R      &kp L        &kp SLASH
&kp ESC    &kp A          &kp O        &kp E        &kp U      &kp I        &tog 5    &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &tog 7     &kp D       &kp H      &kp T       &kp N      &kp S        &kp MINUS
&kp LSHFT  &kp APOS       &kp Q        &kp J        &kp K      &kp X                             &kp HOME      &kp PG_UP                        &kp B       &kp M      &kp W       &kp V      &kp Z        &kp RSHFT
&mo 2      &dollar_tilde  &kp CAPS     &kp LEFT     &kp RIGHT               &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE              &kp UP     &kp DOWN    &caret_at  &kp BSLH     &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &tog 4                                                   &tog 6     &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &tog 5    &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &tog 7     &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                                        &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &tog 4                                                        &tog 6  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &tog 5           &kp PAUSE_BREAK  &trans      &trans  &trans  &tog 7  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                                    &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &kp PRINTSCREEN  &kp SCROLLLOCK   &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        One {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &tog 1                                                   &mo 3      &kp NUMBER_6  &kp N7  &kp N8     &kp N9            &kp N0             &kp MINUS
&kp TAB    &kp Q         &kp W         &kp E         &kp R         &kp T   &tog 4                                                   &tog 6     &kp Y         &kp U   &kp I      &kp O             &kp P              &kp BACKSLASH
&kp ESC    &kp A         &kp S         &kp D         &kp F         &kp G   &tog 5    &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &tog 7     &kp H         &kp J   &kp K      &kp L             &kp SEMICOLON      &kp SQT
&kp LSHFT  &kp Z         &kp X         &kp C         &kp V         &kp B                        &kp HOME      &kp PG_UP                        &kp N         &kp M   &kp COMMA  &kp PERIOD        &kp SLASH          &kp RSHFT
&mo 2      &kp GRAVE     &kp CAPS      &kp LEFT      &kp RIGHT             &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE                &kp UP  &kp DOWN   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &mo 2
            >;
        };

        two {
            display-name = "Base";
            bindings = <
&amp_perc  &lbrk_seven    &lbrac_five  &rbac_three  &lpar_one  &equal_nine  &tog 1                                                   &mo 3      &star_zero  &rpar_two  &plus_four  &rbrk_six  &excl_eight  &hash_grave
&kp TAB    &kp SEMI       &kp COMMA    &kp PERIOD   &kp P      &kp Y        &tog 4                                                   &tog 6     &kp F       &kp G      &kp C       &kp R      &kp L        &kp SLASH
&kp ESC    &kp A          &kp O        &kp E        &kp U      &kp I        &tog 5    &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &tog 7     &kp D       &kp H      &kp T       &kp N      &kp S        &kp MINUS
&kp LSHFT  &kp APOS       &kp Q        &kp J        &kp K      &kp X                             &kp HOME      &kp PG_UP                        &kp B       &kp M      &kp W       &kp V      &kp Z        &kp RSHFT
&mo 2      &dollar_tilde  &kp CAPS     &kp LEFT     &kp RIGHT               &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE              &kp UP     &kp DOWN    &caret_at  &kp BSLH     &mo 2
            >;
        };

        Three {
            display-name = "Base";
            bindings = <
&amp_perc  &lbrk_seven    &lbrac_five  &rbac_three  &lpar_one  &equal_nine  &tog 1                                                   &mo 3      &star_zero  &rpar_two  &plus_four  &rbrk_six  &excl_eight  &hash_grave
&kp TAB    &kp SEMI       &kp COMMA    &kp PERIOD   &kp P      &kp Y        &tog 4                                                   &tog 6     &kp F       &kp G      &kp C       &kp R      &kp L        &kp SLASH
&kp ESC    &kp A          &kp O        &kp E        &kp U      &kp I        &tog 5    &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &tog 7     &kp D       &kp H      &kp T       &kp N      &kp S        &kp MINUS
&kp LSHFT  &kp APOS       &kp Q        &kp J        &kp K      &kp X                             &kp HOME      &kp PG_UP                        &kp B       &kp M      &kp W       &kp V      &kp Z        &kp RSHFT
&mo 2      &dollar_tilde  &kp CAPS     &kp LEFT     &kp RIGHT               &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE              &kp UP     &kp DOWN    &caret_at  &kp BSLH     &mo 2
            >;
        };

        Four {
            display-name = "Base";
            bindings = <
&amp_perc  &lbrk_seven    &lbrac_five  &rbac_three  &lpar_one  &equal_nine  &tog 1                                                   &mo 3      &star_zero  &rpar_two  &plus_four  &rbrk_six  &excl_eight  &hash_grave
&kp TAB    &kp SEMI       &kp COMMA    &kp PERIOD   &kp P      &kp Y        &tog 4                                                   &tog 6     &kp F       &kp G      &kp C       &kp R      &kp L        &kp SLASH
&kp ESC    &kp A          &kp O        &kp E        &kp U      &kp I        &tog 5    &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &tog 7     &kp D       &kp H      &kp T       &kp N      &kp S        &kp MINUS
&kp LSHFT  &kp APOS       &kp Q        &kp J        &kp K      &kp X                             &kp HOME      &kp PG_UP                        &kp B       &kp M      &kp W       &kp V      &kp Z        &kp RSHFT
&mo 2      &dollar_tilde  &kp CAPS     &kp LEFT     &kp RIGHT               &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE              &kp UP     &kp DOWN    &caret_at  &kp BSLH     &mo 2
            >;
        };
    };
};
