#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        dollar_tilde: dollar_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "DOLLAR_TILDE";
            bindings = <&kp DOLLAR>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        plus_one: plus_one {
            compatible = "zmk,behavior-mod-morph";
            label = "PLUS_ONE";
            bindings = <&kp PLUS>, <&kp KP_NUMBER_1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lbracket_two: lbracket_two {
            compatible = "zmk,behavior-mod-morph";
            label = "LBRACKET_TWO";
            bindings = <&kp LEFT_BRACKET>, <&kp KP_NUMBER_2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lbrace_three: lbrace_three {
            compatible = "zmk,behavior-mod-morph";
            label = "LBRACE_THREE";
            bindings = <&kp LEFT_BRACE>, <&kp KP_NUMBER_3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lpara_four: lpara_four {
            compatible = "zmk,behavior-mod-morph";
            label = "LPARA_FOUR";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp KP_NUMBER_4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        amp_five: amp_five {
            compatible = "zmk,behavior-mod-morph";
            label = "AMP_FIVE";
            bindings = <&kp AMPERSAND>, <&kp KP_NUMBER_5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        equal_six: equal_six {
            compatible = "zmk,behavior-mod-morph";
            label = "EQUAL_SIX";
            bindings = <&kp EQUAL>, <&kp KP_NUMBER_6>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rpara_seven: rpara_seven {
            compatible = "zmk,behavior-mod-morph";
            label = "RPARA_SEVEN";
            bindings = <&kp KP_RIGHT_PARENTHESIS>, <&kp KP_NUMBER_7>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rbrace_eight: rbrace_eight {
            compatible = "zmk,behavior-mod-morph";
            label = "RBRACE_EIGHT";
            bindings = <&kp RIGHT_BRACE>, <&kp KP_NUMBER_8>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rbracket_9: rbracket_9 {
            compatible = "zmk,behavior-mod-morph";
            label = "RBRACKET_9";
            bindings = <&kp RIGHT_BRACKET>, <&kp KP_NUMBER_9>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        astrix_zero: astrix_zero {
            compatible = "zmk,behavior-mod-morph";
            label = "ASTRIX_ZERO";
            bindings = <&kp ASTERISK>, <&kp KP_NUMBER_0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        exclamation_perc: exclamation_perc {
            compatible = "zmk,behavior-mod-morph";
            label = "EXCLAMATION_PERC";
            bindings = <&kp EXCLAMATION>, <&kp PERCENT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        pipe_grave: pipe_grave {
            compatible = "zmk,behavior-mod-morph";
            label = "PIPE_GRAVE";
            bindings = <&kp PIPE>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bslash_bang: bslash_bang {
            compatible = "zmk,behavior-mod-morph";
            label = "BSLASH_BANG";
            bindings = <&kp BACKSLASH>, <&kp HASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        at_carat: at_carat {
            compatible = "zmk,behavior-mod-morph";
            label = "AT_CARAT";
            bindings = <&kp AT>, <&kp CARET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        RProg_Dvorak {
            display-name = "Base";
            bindings = <
&dollar_tilde  &plus_one  &lbracket_two  &lbrace_three  &lpara_four  &amp_five  &tog 1                                                   &mo 3      &equal_six  &rpara_seven  &rbrace_eight  &rbracket_9  &astrix_zero  &pipe_grave
&kp TAB        &kp SEMI   &kp COMMA      &kp PERIOD     &kp P        &kp Y      &none                                                    &none      &kp F       &kp G         &kp C          &kp R        &kp L         &kp SLASH
&kp ESC        &kp A      &kp O          &kp E          &kp U        &kp I      &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp D       &kp H         &kp T          &kp N        &kp S         &kp MINUS
&kp LSHFT      &kp APOS   &kp Q          &kp J          &kp K        &kp X                           &kp HOME      &kp PG_UP                        &kp B       &kp M         &kp W          &kp V        &kp Z         &kp RSHFT
&mo 2          &kp APOS   &kp CAPS       &kp LEFT       &kp RIGHT               &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE              &kp UP        &kp DOWN       &at_carat    &bslash_bang  &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        extra1 {
            display-name = "Red";
            status = "reserved";
        };

        extra2 {
            display-name = "Purple";
            status = "reserved";
        };

        extra3 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
